<IfModule mod_rewrite.c>
    RewriteEngine On

    # Remove file extension
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^([^/]+)/?$ $1.php [L]

    # Rewrite /content_details/1 to /content_details.php?id=1
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^/]+)/([^/]+)/?$ $1.php?id=$2 [L,QSA]
</IfModule>
